
.tab tr{
    padding: 0;
    margin: px;
}

.tab tr td{
    padding: 0;
    margin: 0;
}
.navbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.tab button{
    font-size: xx-large;
    font-weight: bold;
    height: 75px;
    width: 75px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    border: none;
}
.resscreen{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display:none ;
    
    width: 100%;
    height: 100%;
    background-color: gray;
    backdrop-filter: blur(0.5);
    opacity: 0.8;
    z-index: 1;
}
.resalign{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.result{
    z-index: 3;
    width: 250px;
    height: 250px;
    position: absolute;
    display: block;
    text-align: center;
    align-content: center;
    background:linear-gradient(-45deg,#0d6efd,white,#0d6efd);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.foot{
    position:absolute ;
    bottom:0;
}
.copy{
    border-right: solid white 2px;    
}

